ul li a {
  color: #777;
  font: 14px Oxygen, sans-serif;
}
a {
    color: #f4473a;
}
h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.portbox h3 {
    text-align: center;
    color: #000;
    font-size: 14px;
}
* {
    /* -webkit-box-sizing: border-box; */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}
.img-responsive {
    display: inline-block;
    height: auto;
    max-width: 100%;
}
.hthumb a img {
    display: block;
}
.section-title {
    text-transform: uppercase;
    padding-bottom: 20px;
}
.section-title h2 {
    font-size: 24px;
    color: #000;
    font-weight: bold;
    margin-bottom: 5px;
}
.section-title p {
    font-weight: bold;
    border-bottom: 1px solid #dfdfdf;
    color: #aaa;
    padding-bottom: 20px;
}
ul li a:hover {
  color: #ed564b;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
}
div, p {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.navbar-brand {
  font-size: 32px;
  font-family: "Helvetica Neue", Helvetica, Arial;
}
.grayscale {
  -webkit-filter: grayscale(100%);
}
.flex-caption {
  width: 800px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -400px;
  text-align: center;
  z-index: 120;
  color: #fff;
}
a.frmore {
  background: rgba(255, 255, 255, 0.2);
  display: block;
  text-transform: uppercase;
  color: #fff;
  width: 150px;
  border: 1px solid #fff;
  padding: 5px 0px;
  margin: 10px auto;
  font-weight: bold;
  color: #fff !important;
}
.fwidgets {
  padding: 40px 0px;
  background: #ed564b;
  border-top: 5px solid #f96b61;
  border-bottom: 5px solid #f96b61;
}
.container {
  margin-right: auto;
  margin-left: auto;
}
.glyphicon-glass:before {
  content: "\e001";
}
.glyphicon:before {
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.col-12{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
#bottom {
    padding: 20px 0px 40px 0px;
    background: #3b3b3b;
    border-top: 5px solid #ed564b;
}
h3.bothead {
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px 0px;
    color: #fff;
    text-transform: uppercase;
}
.botwid ul li a:link, .botwid ul li a:visited {
    color: #aaa;
    text-decoration: none;
    padding: 7px 0px 7px 0px;
    display: block;
}
.botwid {
    color: #aaa;
}

